In [1]:
import pandas as pds
import numpy as npy

In [4]:
Dec = pds.read_csv('Sales 2020.csv',index_col='SALES_ID')

In [5]:
Dec

,SALES_REP,EMAILS,BRANDS,PLANT_COST,UNIT_PRICE,QUANTITY,COST,PROFIT,COUNTRIES,REGION,MONTHS,YEARS
SALES_ID,,,,,,,,,,,,
10101,Jardine,jard@gmail.com,trophy,150.0,200.0,725.0,145000.0,36250.0,Ghana,Southeast,January,2019.0
10102,Gill,gillhell@uk.com,budweiser,250.0,500.0,NaN,407500.0,203750.0,Nigeria,west,February,2018.0
10103,Sorvino,sorvi2000@gmail.com,castle lite,180.0,450.0,937.0,421650.0,252990.0,Togo,southsouth,March,2018.0
10104,Jones,jone.ai@yahoo.com,eagle lager,170.0,250.0,765.0,191250.0,61200.0,Benin,northwest,April,2018.0
10105,Andrews,andy@gmail.com,hero,150.0,200.0,836.0,167200.0,41800.0,Senegal,northeast,May,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...
11143,Jardine,jard@gmail.com,grand malt,90.0,150.0,962.0,144300.0,57720.0,Togo,northeast,November,2017.0
11144,Jardine,jard@gmail.com,trophy,150.0,200.0,892.0,178400.0,44600.0,Benin,northcentral,December,2017.0
11145,Andrews,andy@gmail.com,budweiser,250.0,500.0,816.0,408000.0,204000.0,Senegal,Southeast,January,2019.0
11146,Jones,jone.ai@yahoo.com,castle lite,180.0,450.0,939.0,422550.0,253530.0,Ghana,west,February,2017.0
11147,Morgan,morganny@gmail.com,eagle lager,170.0,250.0,935.0,233750.0,74800.0,Nigeria,southsouth,March,2019.0

In [6]:
Dec.isnull().sum()
#Column with the highest null value REGION and YEARS

SALES_REP     4
EMAILS        7
BRANDS        6
PLANT_COST    1
UNIT_PRICE    2
QUANTITY      6
COST          2
PROFIT        3
COUNTRIES     1
REGION        8
MONTHS        1
YEARS         8
dtype: int64

In [12]:
Dec.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1047 entries, 10101 to 11147
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SALES_REP   1043 non-null   object
 1   EMAILS      1040 non-null   object
 2   BRANDS      1041 non-null   object
 3   PLANT_COST  1046 non-null   float64
 4   UNIT_PRICE  1045 non-null   float64
 5   QUANTITY    1041 non-null   float64
 6   COST        1045 non-null   float64
 7   PROFIT      1044 non-null   float64
 8   COUNTRIES   1046 non-null   object
 9   REGION      1039 non-null   object
 10  MONTHS      1046 non-null   object
 11  YEARS       1039 non-null   float64
dtypes: float64(6), object(6)
memory usage: 106.3+ KB